@import "./mixins.less";
@import "../components/Dropdown/Dropdown.less";
@import "../components/Tabs/Tabs.less";

body {
  min-width: 300px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#52a577, #57606f);
}
.header-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: @lambda-red;
  .header {
    height: 50px;
  }
}

.section {
  width: 70%;
  margin: 45px;
  display: flex;
  border: 1px solid @lambda-red;
  border-radius: 10px;
  box-shadow: 1px 1px 5px @lambda-red;
  overflow: hidden;
  .box {
    padding: 40px;
    .box-title {
      font-size: 24px;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }
}
/*FAQ page  */

/* Heading / Nav Bar */
.questions {
  box-shadow: 10px 10px 5px grey;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  margin: 15px;
  a {
    text-decoration: none;
    font-size: 0.8 rem;
    padding: auto;
    color: black;
  }
}
h1 {
  width: 350px;
  padding: 20px;
  text-align: center;
  margin-left: 400px;
  font-size: 1.2rem;
}

/* Paragraph about heading*/
h2 {
  margin: 100px;
}

// /*questions listed out*/

// /* Odd number questions*/
.orderedlist {
  display: flex;
  flex-wrap: wrap;
  .list1 {
    background: black;
    border: 2px solid red;
    color: white;
    margin: 60px;
    padding: 35px;
    p {
      margin: 35px;
      padding-top: 15px;
      padding-bottom: 35px;
    }
  }

  // /* Even number questions */
  .list2 {
    margin: 50px;
    padding: 35px;
    background: darkslategrey;
    color: white;
  }
}

/* User Stories Page */
.stories {
  box-shadow: 10px 10px 5px grey;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1rem;
  margin: 15px;
  a {
    text-decoration: none;
    font-size: 0.8 rem;
    padding: auto;
    color: black;
  }
}
