body {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: absolute;
  width: 100%;
}

#particles-js {
  height: 100%;
  background: #a4b0be;
  position: absolute;
  width: 100%;
}

.header {
  position: absolute;
}

.questions h1 {
  position: absolute;
  width: 350px;
  padding: 20px;
  text-align: center;
  margin-left: 400px;
}

.questions h2 {
  position: absolute;
  margin: 100px;
}

.list {
  position: absolute;
  margin: 50px 200px;
  padding: 100px;
}
