body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(#413866, #57606f);
}

/* Nav Bar */
header nav a {
  text-decoration: none;
  font-size: 0.8 rem;
  margin: 0 50px 0 0;
  padding: 40px;
  color: lightgray;
}

/*FAQ page  */
.questions h1 {
  width: 350px;
  padding: 20px;
  text-align: center;
  margin-left: 400px;
  font-size: 4.3rem;
}

.questions h2 {
  margin: 100px;
}

.list {
  margin: 35px;
  padding: 5px;
}
